@import "global/styles/theme/drawer";
@import "global/styles/theme/btn";

.card-expense {
  width: 95%;
  left: 2.5%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}
.animated{
  animation-duration: 0.2s;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  margin-left: 0;
  font-size: 50px;

}