.send-form {
  box-sizing: border-box;
  padding-right: 15px;
  
  .input-field {
    margin-bottom: 15px;
    font-family: 'Open Sans';
    font-weight: 400;

    .login-error {
      color: rgba(245, 112, 112, 0.867);
    }

    input {
      border: none;
      width: 100%;
      border-bottom: 1px solid #c5c5c5;
      padding: 4px;
      background: transparent;
      color: #3E4A57;
      font-size: 14px;

      &:focus {
        outline: none;
        border-color: rgb(156, 154, 154);
      }
    }

    .show-password {
      padding: 10px 0;
      cursor: pointer;
    }
  }
}