@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@import 'varriables';

@import "theme/bg";
@import "theme/text";
@import "theme/navbar";
@import "theme/dummy";
@import "theme/icon";
@import "theme/btn";
@import "theme/card";
@import "components/TripCard";
@import 'chat/chat';
@import "animated";

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: $main-background;
}
.container{
  max-width:1200px
}
.hidden{
  opacity: 0;
}
.visible{
  display: block;
}
