.partners {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  & > div {
    display: inline-block;
    margin: 10px;
    padding: 21px 43px;
    border-radius: 15px;
    background: #FFF;
    text-align: center;
    color: #1A0841;
    font-weight: 400;
    cursor: pointer;

    @media screen and (max-width: 425px) {
      padding: 16px 34px;
    }

    img {
      width: 65px;

      @media screen and (max-width: 425px) {
        width: 55px;
      }
    }

    &:hover, &.active {
      box-shadow: #b9b9b9 0px 0 15px;
    }
  }      
}