.send-form {
  padding-right: 10px;
  box-sizing: border-box;

  .input-field {
    margin-bottom: 5px;
    font-family: 'Open Sans';
    font-weight: 400;

    .login-error {
      color: rgba(245, 112, 112, 0.867);
    }

    input {
      border: none;
      width: 100%;
      border-bottom: 1px solid rgb(197, 197, 197);
      padding: 4px;
      margin: 5px 0;
      background: transparent;
      color: $dark-grey;

      &:focus {
        outline: none;
        border-color: rgb(156, 154, 154);
      }
    }

    .show-password {
      padding: 10px 0;
      cursor: pointer;
    }
  }
}