.partners {
  display: flex;
  margin-left: -30px;
  justify-content: center;
  flex-wrap: wrap;
  
  & > div {
    margin: 10px;
    padding: 24px 46px;
    display: inline-block;
    border-radius: 15px;
    background: #FFF;
    cursor: pointer;
    text-align: center;
    color: #1A0841;
    font-weight: 400;

    img {
      width: 70px;
    }

    &:hover, &.active {
      box-shadow: #b9b9b9 0px 0 15px;
    }
  }      
}