/* Container */

$container-width: 800px;
$main-background: #F7F7F7;

/* Colors */

$white: #FFF;
$pink: #CE7D9E;
$purple: #18033E;
$dark-grey: #3E4A57;
$light-grey: #DDD;

/* Fonts */

$default-font: 'Open Sans';
$default-size: 13px;
$bold: 600;