@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import './varriables';
@import './intro';
@import './second-question';
@import './fourth-question';

 body {
   margin: 0;
   padding: 0;
   height: 100%;
   background-color: $main-background;
 }

.container {
  max-width: $container-width;
  margin: 0 auto;
  font-family: 'Open Sans';
  font-size: $default-size;
  line-height: 23px;
  position: relative;
  color: $dark-grey;
  height: 100%;

  &.white-bg {
    background-color: #FFF;
  }

  .scroll-fix {
    display: flex;
    flex-direction: column;
    max-height: 100%;
  }

  .chat-body {
    padding: 72px 30px 0;
    height: 100%;
    overflow: auto;

    .question, .answer {
      position: relative;
      padding: 12px;
      background: #FFF;
      box-shadow: 0px 0px 20px 9px #eaeaea;
      font-size: 13px;
      margin-bottom: 20px;
      max-width: 300px;
      animation-name: newMessage;
      animation-duration: 250ms;
      animation-timing-function: linear;
      &:before {
        padding: 16px;
        background-color: #f7f7f7;
        position: absolute;
        border-radius: 50%;
        bottom: 5px;
        content: ' ';
        z-index: 3;
      }

      &:after {
        content: ' ';
        position: absolute;
        bottom: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent transparent #fff transparent;
        z-index: 2;
      }      
    }

    .question {
      margin-left: 34px;
      transform-origin: 0% 0%;

      &:before {
        left: -38px;
        background-image: url(/assets/snowman-head.png);
        background-repeat: no-repeat;
        background-size: 33px 33px;
      }

      &:after {
        left: -19px;
        border-width: 0 0 12px 21px;
      }
    }

    .answer {
      margin-right: 34px;
      margin-left: auto;
      transform-origin: 100% 100%;

      &:before {
        right: -38px;
        background-color: $pink;
      }

      &:after {
        right: -19px;
        border-width: 0 21px 12px 0;
      }
    }
  }

  .answer-panel {
    display: flex;
    padding: 15px 30px 0;
    border-top: 1px solid #ddd;

    .answer-variants {
      width: 100%;
    }
    .send {
      display: flex;
      align-items: flex-end;
      border-left: 1px solid #ddd;
      padding: 0 10px 20px;
      cursor: pointer;
      min-width: 116px;

      div {
        padding: 7px;
        border: 1px solid #ddd;
        border-radius: 30px;
        background-color: #fff;
        margin: 0 auto;
        width: 100px;
        text-align: center;
        
        &:before {
          content: 'Send';
        }

        &.loading {
          border: 4px solid #fff;
          border-radius: 50%;
          border-top: 4px solid $pink;
          border-bottom: 4px solid $pink;
          width: 8px;
          height: 8px;
          animation: spin 2s linear infinite;

          &:before {
            content: '';
          }
        }
      }
    }
  }
}

.activities, .countries {
  .activity, .country {
    padding: 7px 13px;
    margin: 5px;
    display: inline-block;
    border: 1px solid #ECECEC;
    border-radius: 13px;
    margin-right: 5px;
    background-color: #F6F6F6;
    color: #8B8E96;
    font-weight: 400;
    cursor: pointer;

    &.active {
      background-color: #FFFFFF;
      border: 1px solid #4F5D5D;
    }

  }
}

@keyframes newMessage {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}