@import "components/Geosuggest/style";
.ant-upload-select-picture-card i {
    font-size: 32px;
    color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    color: #666;
}

body {
    background-color: #fafafa;
    height: 100%;
    margin: 0;
}
#root{
    height: 100%;
}
.ant-upload-select-picture-card i {
    font-size: 32px;
    color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    color: #666;
}

#components-form-demo-normal-login .login-form {
    max-width: 300px;
}

#components-form-demo-normal-login .login-form-forgot {
    float: right;
}

#components-form-demo-normal-login .login-form-button {
    width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.ant-rate-disabled .ant-rate-star {
    cursor: default;
}

.ant-list-bordered {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
}

.ant-card {
    border-radius: 1px;
}

.ant-btn {
    border-radius: 3px;
    font-weight: bold;
    padding: 0 30px;
}

.ant-btn-primary {
    background: #3897f0;
    border-color: #3897f0;
    color: #fff;
}

.ant-input {
    border-radius: 1px;
}

.ant-layout-footer {
    text-align: center;
    background-color: #fafafa
}