@import "components/Geosuggest/style";
.ant-upload-select-picture-card i {
    font-size: 32px;
    color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    color: #666;
}

img{
    width: 300px;
    height: 300px;
}